/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    /* overflow: hidden; */
  }
}

body {

  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  font-family: 'Playfair Display', serif;
  background: #FFEAD3;
  overflow-x: hidden;
  color: #851928;
}


/* 6. Improve media defaults */
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.container {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.letter-animation {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collected-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.line {
  display: flex;
  gap: 10px;
}

.word {
  font-size: 1.1rem;
  font-weight: 900;
  display: inline-block;
}

.scroll-space {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collected-words,
.word,
.line {
  will-change: transform, opacity;
  transform: translateZ(0);
}

.transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFEAD3;
  opacity: 1;
  z-index: 10;
}

.otel-image {
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.otel-image-wrapper {
  width: 70%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 10 / 13;
  position: relative;
  transform: scale(1);
}

.image-piece {
  overflow: hidden;
  position: relative;
}

.image-piece .otel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  object-fit: cover;
  margin: 0;
}

.piece-1 .otel-image {
  top: 0;
  left: 0;
}

.piece-2 .otel-image {
  top: 0;
  left: -100%;
}

.piece-3 .otel-image {
  top: 0;
  left: -200%;
}

.piece-4 .otel-image {
  top: -100%;
  left: 0;
}

.piece-5 .otel-image {
  top: -100%;
  left: -100%;
}

.piece-6 .otel-image {
  top: -100%;
  left: -200%;
}

.piece-7 .otel-image {
  top: -200%;
  left: 0;
}

.piece-8 .otel-image {
  top: -200%;
  left: -100%;
}

.piece-9 .otel-image {
  top: -200%;
  left: -200%;
}

/* story-section-mobile-start */

.story-section {
  position: absolute;
  /* Yatay ve dikey konumu belirlemek için absolute kullanıyoruz */
  top: 73.5%;
  /* Ekran yüksekliğinin %70'ine yerleşecek */
  left: 50%;
  /* Yatayda tam ortalamak için */
  transform: translateX(-50%);
  /* Yatayda tam ortalamak için */
  width: 200px;
  background-color: red;
}


/* story-section-mobile-end */


@media (width >=768px) {
  .word {
    font-size: 1.5rem;
  }

  /* story-section-tablet-start */

  /* story-section-tablet-end */
}


@media (width >=1280px) {
  .word {
    font-size: 2rem;
  }

  .image-piece .otel-image {
    height: 200%;
  }

  /* story-section-desktop-start */


  /* story-section-desktop-end */

}