/* Genel ayarlar */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background: #f5f0e6;
  min-height: 300vh;
  overflow-x: hidden;
  color: #851928;
}

/* index.css içine ekle */
.letter-animation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.collected-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.line {
  display: flex;
  gap: 10px;
}

.word {
  font-size: 1.1rem;
  font-weight: 900;
  display: inline-block;

}

.scroll-space {
  height: 200vh;
}

.collected-words,
.word,
.line {
  will-change: transform, opacity;
  transform: translateZ(0);
  /* Donanım hızlandırmayı zorla */
}


@media (width >=768px) {
  .word {
    font-size: 1.5rem;
  }
}


@media (width >=1280px) {
  .word {
    font-size: 2rem;
  }
}