/* Genel ayarlar */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background: #FFEAD3;
  min-height: 300vh;
  overflow-x: hidden;
  color: #851928;
}

/* index.css içine ekle */
.letter-animation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.collected-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.line {
  display: flex;
  gap: 10px;
}

.word {
  font-size: 1.1rem;
  font-weight: 900;
  display: inline-block;

}

.scroll-space {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.collected-words,
.word,
.line {
  will-change: transform, opacity;
  transform: translateZ(0);
  /* Donanım hızlandırmayı zorla */
}

.transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFEAD3;
  opacity: 1;
  z-index: 10;
}

.otel-image {
  width: 70%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mevcut .otel-image stilini değiştir */
.otel-image-wrapper {
  width: 70%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 16 / 9;
  /* Resmin oranına göre ayarla */
  position: relative;
}

.image-piece {
  overflow: hidden;
  position: relative;
}

.image-piece .otel-image {
  position: absolute;
  width: 300%;
  /* 3 sütun x 100% */
  height: 300%;
  /* 3 satır x 100% */
  object-fit: cover;
  margin: 0;
}

/* Her parçanın doğru konumunu göstermesi için */
.piece-1 .otel-image {
  top: 0;
  left: 0;
}

.piece-2 .otel-image {
  top: 0;
  left: -100%;
}

.piece-3 .otel-image {
  top: 0;
  left: -200%;
}

.piece-4 .otel-image {
  top: -100%;
  left: 0;
}

.piece-5 .otel-image {
  top: -100%;
  left: -100%;
}

.piece-6 .otel-image {
  top: -100%;
  left: -200%;
}

.piece-7 .otel-image {
  top: -200%;
  left: 0;
}

.piece-8 .otel-image {
  top: -200%;
  left: -100%;
}

.piece-9 .otel-image {
  top: -200%;
  left: -200%;
}





@media (width >=768px) {
  .word {
    font-size: 1.5rem;
  }
}


@media (width >=1280px) {
  .word {
    font-size: 2rem;
  }




}